@font-face {
    font-family: myFont;
    src: url(./Resources/Norse-Bold.otf);
}

container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#left-part {
    background-image: url(./Resources/halie-west-25xggax4bSA-unsplash\(1\).jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 25vw;
}

#logo {
    display: block;
    color: white;
    flex: 1 1 auto;
    padding: 10rem 0;
}

#odin {
    background-color: rgba(0, 0, 0, .5);
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#odin>img {
    height: 70px;
}

#odin>div {
    font-weight: bold;
    font-size: 50px;
    font-family: myFont;
}

#footpage {
    color: white;
    flex: 0 0 auto;
    padding: 5px;
}

#right-part {
    display: flex;
    flex-direction: column;
    width: 75vw;
}

#right-part>header {
    flex: 1 1 calc(100% /3);
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: rgb(247, 240, 240);

}

#right-part>#middle-container {
    flex: 1 1 calc(100% /3);
    padding: 20px;
}

#right-part>footer {
    flex: 1 1 calc(100% /3);
    padding: 20px;
    background-color: rgb(247, 240, 240);
    border-top: grey solid;
}

form {
    display: flex;
    flex-wrap: wrap;

}

#first-name,
#last-name,
#email,
#phone,
#password,
#password-confirm {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    margin: 0 20px 10px 0;
    width: 400px;
}


footer>button {
    background-color: #596D48;
    color: white;
    width: 200px;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
}